/* General Styles */
body {
    font-family: 'Quattrocento Sans', sans-serif;
    background-color: #FFDDC1; /* Light Peach for fun and light vibe */
    margin: 0;
    padding: 0;
    color: #690108; /* Dark Red for text */
    text-align: center;
}

header {
    background-color: #F0A500; /* Golden background for header */
    color: white;
    padding: 20px;
}

h1 {
    font-family: 'Tenor Sans', sans-serif;
    font-size: 36px;
}

p {
    font-size: 18px;
}

#countdown {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
    color: #3D5A80; /* Deep Ocean Blue for contrast */
}

.mission-graphics img, .fun-icons img {
    margin: 10px;
}

/* Section Styles */
section {
    padding: 20px;
}

#mission {
    background-color: #690108; /* Dark Red for mission section */
    color: white;
    padding: 30px;
}

#rsvp {
    background-color: #F7F7F7; /* Soft White */
    padding: 30px;
}

.rsvp-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #F0A500;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
}

.rsvp-button:hover {
    background-color: #FFDDC1;
}

#details {
    background-color: #3D5A80; /* Deep Ocean Blue */
    color: white;
    padding: 30px;
}

footer {
    padding: 20px;
    background-color: #690108;
    color: white;
}
